body {
    background-color: rgb(247, 223, 30);
    background-image: url("/js.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    animation: fadeIn;
    animation-duration: 5s;
}

#title {
    font-size: 100px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

#rule {
    font-size: 40px;
    font-weight: bold;
}

#rules {
    margin-top: 60px;
}

#question-no {
    margin-top: 80px;
    text-align: center;
}

#question {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

#question:hover {
    transform: scale(1.2);
}

#input{
    border: 2px solid white;
    display: block;
    margin: auto;
    background-color: black;
    color: rgb(75, 198, 238);
    font-size: 20px;
}

#submit {
    background-color: rgb(33, 106, 33);
    color: white;
    border: 2px solid black;
    display: block;
    margin: auto;
    margin-top: 2px;
}

#correct-score {
    margin-top: 40px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(33, 106, 33);
}

#incorrect-score {
    font-size: 30px;
    font-weight: bold;
    color: rgb(147, 1, 147);
}

#previous-question-results {
margin-top: 80px;
}

#previous-answer-results {
    margin-top: 20px;
}

#reset {
    margin-top: 80px;
    background-color: rgb(147, 1, 147);
    color: white;
    border: 2px dotted black;
}