body {
    background-color: rgb(247, 223, 30);
    background-image: url("/js.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    animation: fadeIn;
    animation-duration: 4s;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.19);
}

#title {
    font-size: 100px;
    text-align: center;
    font-weight: bold;
    padding: 50px;
    background: black;
    color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-shadow: none;
    animation: backInDown;
    animation-duration: 2s;
}

.fade:hover {
    background-image: none;
    background-color: black;
    color: white;
    border-color: white;
    transition: .3s ease all;
}

#rule {
    font-size: 40px;
    font-weight: bold;
}

#rules {
    margin-top: 20px;
    padding: 10px;
    border: 2px black solid;
    border-radius: 10px;
    width: fit-content;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#question-no {
    margin-top: 80px;
    text-align: center;
    
}

#question {
    background-image: url(/js.png);
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: zoom-in;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px;
    border: 2px black solid;
    border-radius: 10px;
    width: fit-content;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#question:hover {
    background-image: none;
    background: black;
    color: white;
    border-color: white;
    transform: scale(1.2);
    transition: .6s ease all;
}

#input{
    background: black;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    display: block;
    margin: auto;
    font-size: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#submit {
    background: rgb(247, 223, 30);
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    display: block;
    margin: auto;
    margin-top: 2px;
    margin-bottom: 80px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 85px;
    height: 35px;
    cursor: pointer;
}

#submit:hover {
    background-color: black;
    color: white;
    border-color: white;
    transition: .3s ease all;
    transform: rotateY(1turn);
}

.previous-score {
    background-image: url(/js.png);
}

#correct-score {
    font-size: 35px;
    font-weight: bold;
    color: rgb(33, 106, 33);
}

#incorrect-score {
    font-size: 35px;
    font-weight: bold;
    color: rgb(147, 1, 147);
}

.borders {
    padding: 10px;
    border: 2px black solid;
    border-radius: 10px;
    width: fit-content;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.previous-results {
    margin-top: 60px;
    background-image: url(/js.png);
}

#reset {
    text-align: center;
    margin: 40px 0 20px 20px;
    background: rgb(247, 223, 30);
    color: black;
    border: 2px dotted black;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 85px;
    height: 55px;
}

#reset:hover {
    background-color: red;
    color: white;
    transition: 1s ease all;
    transform: rotateX(3turn);
    cursor: pointer;
}